.navigate nav {
	margin-top: 20px;
	padding: 0;
	width: 100%;
	
}

.navigate ul {
	float: right;
	
}

.navigate li {
	display: inline;
	float: left;
	margin: 10px;
	color: #fff;

}

.navigate li a {
 	font-family: 'Crimson Pro', serif;
    font-size: 20px;	
	border-radius: 5px;
	color: #6791cc;
}

.navigate li a:hover {
	color: #5f788a;
	text-shadow: 2px 2px 2px #B048B5;

	
}
.nav-btn{
	border-radius: 7px;
	color: #6791cc;
 	
}

#navbar .active {
	color: #FF0000;
	
}

.active {
	color: #FF0000;
	
}

.navigate-user{
	float: right;
	color: #6791cc;

}
.navigate-user:hover {
	background-color: #3D3C3A;
	color: #6791cc;
	text-shadow: 2px 2px 2px #565051;

}

.navigate-form{
	background-color: #565051;
}
.navigate-form a {
	color: #6791cc;
}
.navigate-form a:hover {
	background-color: #3D3C3A;
	color: #6791cc;
	text-shadow: 2px 2px 2px #565051;

