{% extends 'ar/base.html' %}
{% load static %}
{% load countries %}
{% block meta %}
    <meta name="description" content="آخر مستجدات الكورونا في العالم">
    <meta name="og:title" property="og:title" content="سافيراسوفت: نحوّل أفكارك إلى أكواد">

{% endblock meta %}
{% block favicon %}
    <link rel="icon" type="icon" href="{% static 'img/covid19.ico' %}">
{% endblock favicon %}
{% block title %}مستجدات الكورونا{% endblock title %}
{% block content %}
    <section class="page-section mt-5" id="covid19" >
        {% if lvl == 2 %}
        <div class="container" style="background-color: LightGreen;">
        {% elif lvl == 1 %}
        <div class="container" style="background-color: LightGray;">
        {% else %}
        <div class="container">
        {% endif %}
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">
                  <img src="../../static/flags/{{code}}.png" width="100" alt="خليك بالبيت">
                </div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <center>
                        {% if country == 'World' %}
                        <h2 class="text-title"><a class=" f-gold" href="https://www.worldometers.info/coronavirus/" target="-blank">{{ country }}</a></h2>
                        {% else %}
                        <h2 class="text-title"><a class=" f-gold" href="https://www.worldometers.info/coronavirus/country/{{ fn }}" target="-blank">{{ country }}</a></h2>
                        {% endif %}

                    </center>
                </div>
                <div class="col-lg-4 text-lg-right">
                    <form method="GET" id="infoForm" name="infoForm" action="/cov19/Covid19Info/">
                        <input class="text-muted" type="search" name="query" id="query" placeholder="ادخل اسم الدولة باالإنجليزية">
                        <button class="btn btn-outline-warning" type="submit" value="search">بحث</button>
                    </form>
                </div>
            </div>
            <div class="row align-items-center float-top">
                <div class="col-lg-4 text-lg-left">

                </div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <center>
                        <small class="f-eggplant">اقرأ المزيد عن  <a class="f-navy" href="http://www.wikipedia.com/wiki/{{ fn }}" target="_blank">{{ country }}</a> في ويكيبديا</small>
                    </center>
                </div>
                <div class="col-lg-4 text-lg-right">

                </div>
            </div>
            <div align="center">
                {% if lvl == 2 %}
                <h5 style="color: green">هذه الدولة تخلصت من الفيروس بدون أي وفيات</h5>
                {% elif lvl == 1 %}
                <h5 style="color: gray">هذه الدولة تخلصت من الفيروس مع تسجيل وفية واحدة على الأقل</h5>
                {% endif %}
            </div>
            <hr class="bg-light">
            <br/>
            <br>
            <center>
                <div>
                    <span>
                        <h4 class="text-dark">إجمالي الإصابات</h4>
                        <h4 class="f-teal">{{ totalcases }}<small class="f-firebrick"><b> ({{ newcases }})</b></small></h4><br>
                    </span><br>
                    <span>
                        <h4 class="text-dark">إجمالي الوفيات</h4>
                        <h4 class="f-teal">{{ totaldeathes }}<small class="f-firebrick"><b> ({{ newdeathes }})</b></small></h4><br>
                    </span><br>
                </div>
            </center>
            <div class="footer py-4 mt-3">
                <div class="container">
                    <div class="row">
                        <span class="col-4 text-lg-left ml-5">
                            <h5 class="text-dark">حالات التعافي</h5>
                            <big class="f-teal">{{ totalrecovered }}</big>
                        </span>
                        <center>
                            <span class=" col-6 my-3 my-lg-0 ml-5">
                                <h5 class="text-dark">الحالات النشطة</h5>
                                <big class="f-teal">{{ activecases }}</big>
                            </span>
                        </center>
                        <span class="col-4 text-lg-right ml-5">
                            <h5 class="text-dark">الحالات الحرجة</h5>
                            <big class="f-teal">{{ criticalcases }}</big>
                        </span>
                    </div>
                </div>
            </div>
             <center>
                <div class="col-lg-4 my-3 my-lg-0">
                    <small class="text-muted">جميع المعلومات في هذه الصفحة من موقع <a class="f-caramel" target="_blank" href="https://www.worldometers.info/coronavirus/">Worldometer</a></small>
                </div>
            </center>
        </div>
    </section>
{% endblock content %}
