{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
<div class="about">
    
</div>    
{% endblock content %}
{% block js %}
    <script type="text/javascript">
        var footer = document.getElementById('footer');
            footer.style = "position:fixed";
        
        var body = document.getElementById('body');
        body.style = "background: #002d64;" +"background-image: url({% static 'img/about.jpeg' %});" + "background-repeat: no-repeat;" + "background-size: cover;" ;
    </script>
{% endblock js %}