{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  {% if user.is_superuser %}
    New Product
  {% else %}
    Admin Only Zone
  {% endif %}
{% endblock title %}
{% block content %}
	{% if user.is_superuser %}
		<center>
		    <div class="content-section">
		      <form method="POST" enctype="multipart/form-data" novalidate="novalidate">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">New Product</legend>
			  		{{form|crispy}}
			  		<button class="btn btn-outline-info" type="submit">Post</button>
				</fieldset>   
		      </form>
		    </div>
		</center>
	{% else %}  
	    <center>
	      <img src="{% static 'img/adminOnly.png' %}">  
	    </center>    
	{% endif %}	
{% endblock content %}

