@import "font.css";
/*font cases*/
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

/*font colors*/
.f-gold{
    color: #EAC117;
}
.f-steel{
    color: #5f788a;
}
.f-navy{
    color: #000080;
}
.f-caramel{
    color: #C68E17;
}
.f-coffee{
    color: #6F4E37;
}
.f-mocha{
    color: #493D26;
}
.f-sepia{
    color: #7F462C;
}
.f-valentine{
    color: #E55451;
}
.f-chestnut{
    color: #954535;
}
.f-orchideD{
    color: #7D1B7E;
}
.f-orchideM{
    color: #B048B5;
}
.f-pearl{
    color: #FDEEF4;
}
.f-purpleM{
    color: #8467D7;
}
.f-purple{
    color: #8E35EF;
}
.f-eggplant{
    color: #614051;
}
.f-jasmine{
    color: #A23BEC;
}

/*background colors*/
.bg-gold{
    background-color: #EAC117;
}
.bg-steel{
    background-color: #5f788a;
}
.bg-navy{
    background-color: #000080;
}
.bg-caramel{
    background-color: #C68E17;
}
.bg-coffee{
    background-color: #6F4E37;
}
.bg-mocha{
    background-color: #493D26;
}
.bg-sepia{
    background-color: #7F462C;
}
.bg-valentine{
    background-color: #E55451;
}
.bg-chestnut{
    background-color: #954535;
}
.bg-orchideD{
    background-color: #7D1B7E;
}
.bg-orchideM{
    background-color: #B048B5;
}
.bg-pearl{
    background-color: #FDEEF4;
}
.bg-purpleM{
    background-color: #8467D7;
}
.bg-purple{
    background-color: #8E35EF;
}
.bg-eggplant{
    background-color: #614051;
}
.bg-jasmine{
    background-color: #A23BEC;
}


/* font types and colors*/
.text-menu {
    font-family: 'Crimson Pro', serif;
    font-size: 20px;

}
.text-title {
    text-transform: capitalize;
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;

}
.text-unique {
    font-family: 'Dancing Script', cursive;


}
.text-paragraph{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
 .text-signiture {
    font-family: 'Great Vibes', cursive;
 }
.content{
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    /*background-image: url("../img/5.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;*/
}
p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #FDEEF4;
}

big {
    color: #5f788a;
    text-transform: capitalize;
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
}
