{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <meta name="description" content="The latest news about coronaviruse cases from any country you choose">
    <meta name="og:title" property="og:title" content="Saferasoft: We transform your idea into a code">

{% endblock meta %}
{% block favicon %}
    <link rel="icon" type="icon" href="{% static 'img/covid19.ico' %}">
{% endblock favicon %}
{% block title %}Coronavirus Updates{% endblock title %}
{% block content %}
    <section class="page-section mt-5" id="covid19" >
        {% if lvl == 2 %}
        <div class="container" style="background-color: LightGreen;">
        {% elif lvl == 1 %}
        <div class="container" style="background-color: LightGray;">
        {% else %}
        <div class="container">
        {% endif %}
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">
                  <img src="../../static/flags/{{code}}.png" width="100" alt="Keep distance from others, for your and their safety" title="Keep distance from others, for your and their safety">
                </div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <center>
                        {% if country == 'World' %}
                        <h2 class="text-title"><a class=" f-gold" href="https://www.worldometers.info/coronavirus/" target="-blank">{{ country }}</a></h2>
                        {% else %}
                        <h2 class="text-title"><a class=" f-gold" href="https://www.worldometers.info/coronavirus/country/{{ fn }}" target="-blank">{{ query }}</a></h2>
                        {% endif %}

                    </center>
                </div>
                <div class="col-lg-4 text-lg-right">
                    <form method="GET" id="infoForm" name="infoForm" action="">
                        <input class="text-muted" type="search" name="query" id="query" placeholder="Enter a country name">
                        <button class="btn btn-outline-warning" type="submit" value="search">Get Info</button>
                    </form>
                </div>
            </div>
            <div class="row align-items-center float-top">
                <div class="col-lg-4 text-lg-left">

                </div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <center>
                        <p class="f-eggplant">Find more about <a class="f-navy" href="http://www.wikipedia.com/wiki/{{ fn }}" target="_blank">{{ country }}</a> on Wikipedia</p>
                    </center>
                </div>
                <div class="col-lg-4 text-lg-right">

                </div>
            </div>
            <div align="center">
                {% if lvl == 2 %}
                <h5 style="color: green">This country has no more cases and no death cases</h5>
                {% elif lvl == 1 %}
                <h5 style="color: gray">This country has no more cases but it has at least a death case  </h5>
                {% endif %}
            </div>
            <hr class="bg-light">
            <br/>
            <br>
            <center>
                <div>
                    <span>
                        <h4 class="f-caramel">Total Cases</h4>
                        <h4 class="f-teal">{{ totalcases }}<small class="f-firebrick"><b> ({{ newcases }})</b></small></h4><br>
                    </span><br>
                    <span>
                        <h4 class="f-caramel">Total Deathes</h4>
                        <h4 class="f-teal">{{ totaldeathes }}<small class="f-firebrick"><b> ({{ newdeathes }})</b></small></h4><br>
                    </span><br>
                </div>
            </center>
            <div class="footer py-4 mt-3">
                <div class="container">
                    <div class="row">
                        <span class="col-4 text-lg-left ml-5">
                            <h5 class="f-caramel">Total Recovered</h5>
                            <big class="f-teal">{{ totalrecovered }}</big>
                        </span>
                        <center>
                            <span class=" col-6 my-3 my-lg-0 ml-5">
                                <h5 class="f-caramel">Active Cases</h5>
                                <big class="f-teal">{{ activecases }}</big>
                            </span>
                        </center>
                        <span class="col-4 text-lg-right ml-5">
                            <h5 class="f-caramel">Critical Cases</h5>
                            <big class="f-teal">{{ criticalcases }}</big>
                        </span>
                    </div>
                </div>
            </div>
             <center>
                <div class="col-lg-4 my-3 my-lg-0">
                    <p class="f-caramel">All info provided are from <a class="f-gold" target="_blank" href="https://www.worldometers.info/coronavirus/">Worldometer</a></p>
                </div>
            </center>
        </div>
    </section>
{% endblock content %}
