.admin{
	size: 100%;
	padding: 0;
	margin: 0;
	
}
.debt{
	border-radius: 5px;
	
	background-color: red;
	color:white;
}
.admin-section{
	border-radius:20px;
	background-color:#800517;
	padding: 40px;
	position: initial;
	justify-content: center;
	align-items: center;
}
.admin-section .job{
	width: 25%;
	display: inline-block;
	position: inherit;
	margin: 20px;
	padding: 25px;
}

.admin-section legend{
	color:gold;
	margin-top: 0;
	
}
.admin-section .job .title{
	color:#3D3C3A;
}
.admin-section .job .username{
	color:#BCC6CC;
}


.user{
	border-radius:20px;
	background-color:#800517;
	padding: 40px;
	position: initial;
	justify-content: center;
	align-items: center;
}
.user .job{	
	display: inline-block;
	position: inherit;	
	padding: 25px;
	overflow: auto;
}
.user .job .p1{
	float: left;
	margin: 20px;
	color:#BCC6CC;
}
.user .job .p2{
	float: right;
	margin: 20px;
	color:#BCC6CC;
}
.user .job .p3{
	margin: 10px;
	color:#BCC6CC;
	
}

.user legend{
	color:gold;
	margin-top: 0;
	
}
.user big{
	font-weight: bold;
}
.user .job .p1 .username{
	color:gold;
}

.user .job .p1 .balance{
	color:#BCC6CC;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}