.job-container{
	size: 100%;
	justify-content: relative;
	color: #FDEEF4;

}
.job-box {
	background:  #565051;
	border-radius: 15px;
    padding: 20px;
    width: 50%;
    height: 70;
    justify-content: absolute;
    align-content: space-between;
    align-self: center;
    align-items: flex-start;
    margin-top: 20px;

}
.job-box #new{
    color: red;
    

}
.job-title h3:hover{
    text-shadow: 2px 2px 3px #EAC117;

}
.job-body{

}

.job-body a:hover{
	
	color: #C68E17;
}
.job-box h3{
    color: #1c3052;
}
.job-box p{
    color:#406cb4;
}
.job-box big{
    color: #6791cc;
    
}
.job-box h1{
    color: #1c3052;
}
.job-box h4{
    color: #6791cc;
}

.job-box h5{
    color:#406cb4;
}
.job-box big{
    color: #6791cc;
    
}