{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=YES">

    <!-- SEO meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <META NAME="geo.position" CONTENT="latitude; longitude">
    <META NAME="geo.placename" CONTENT="Place Name">
    <META NAME="geo.region" CONTENT="Country Subdivision Code">
    {% block meta %}
    <meta name="description" content="A freelance programming company with a great team of programmers in many languages">
    <meta name="og:title" property="og:title" content="Saferasoft: We transform your idea into a code">

    {% endblock meta %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Crimson+Pro:ital@1&family=Great+Vibes&family=Libre+Baskerville:ital@1&family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- my styling files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/socialMedia.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


    {% if title %}
      <title>Saferasoft-{% block title %}{% endblock title %}</title>
    {% else %}
      <title>Saferasoft</title>
    {% endif %}
  </head>
  <body class="container bg-pearl">
    <div class="container">
      <header>
        <nav class="navbar navbar-expand-lg fixed-top">
          <a class="navbar-brand" href="{% url 'base' %}">
            <img src="{% static 'img/logo.png' %}" width="200">
          </a>
          <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">Menu</span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav" >
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-menu f-gold"href="{% url 'covid19' %}">Covid19 Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-menu f-gold"href="{% url 'services' %}">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-menu f-gold"href="{% url 'profolio' %}">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-menu f-gold"href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-menu f-gold"href="{% url 'team' %}">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-menu f-gold"href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <main class="mt-5">
        <div class="col-6 mt-3">
          {% if messages %}<br/><br/><br/>
            <center>
              <div class="col-lg-4 my-3 my-lg-0">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    <small>{{ message }}</small>
                  </div>
                {% endfor %}
              </div>
            </center>
          {% endif %}
        </div>
        {% block content %}
        <div id="carouselExampleIndicators" class="carousel slide mt-5" data-ride="carousel">
          <h3 class="f-mocha">Brought to you by <a class="bg-mocha f-pearl" href="http://news.sky.com/technology">SkyNews</a></h3>
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="https://news.sky.com{{info1.href}}">
                <img class="d-block w-100" src="{{info1.img}}" alt="{{info1.title}}">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="f-pearl">{{info1.title}}</h5>
                  <p>{{info1.content}}</p>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a href="https://news.sky.com{{info2.href}}">
                <img class="d-block w-100" src="{{info2.img}}" alt="{{info2.title}}">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="f-pearl">{{info2.title}}</h5>
                  <p>{{info2.content}}</p>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a href="https://news.sky.com{{info3.href}}">
                <img class="d-block w-100" src="{{info3.img}}" alt="{{info3.title}}">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="f-pearl">{{info3.title}}</h5>
                  <p>{{info3.content}}</p>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a href="https://news.sky.com{{info4.href}}">
                <img class="d-block w-100" src="{{info4.img}}" alt="{{info4.title}}">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="f-pearl">{{info4.title}}</h5>
                  <p>{{info4.content}}</p>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a href="https://news.sky.com{{info5.href}}">
                <img class="d-block w-100" src="{{info5.img}}" alt="{{info5.title}}">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="f-pearl">{{info5.title}}</h5>
                  <p>{{info5.content}}</p>
                </div>
              </a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="content row" id="cards">
          <div class="col">
            <div class="card bg-mocha" style="width: 18rem;">
              <img class="card-img-top" height="200" src="{% static 'img/corona.png' %}" alt="Card image cap">
              <div class="card-body">
                <big class="card-title">Coronavirus Updates</big>
                <p class="card-text capitalize">The latest news about coronaviruse cases from any country you choose <br><br></p>
                <a href="{% url 'covid19' %}" class="btn btn-primary">Try it!</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-mocha" style="width: 18rem;">
              <img class="card-img-top" height="200"  src="{% static 'img/freelancer.png' %}" alt="Card image cap">
              <div class="card-body">
                <big class="card-title">Freelance Jobs</big>
                <p class="card-text capitalize">we offer freelance jobs for programers in different programing languages</p>
                <a href="#" class="btn btn-primary">Be A Freelancer!</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-mocha" style="width: 18rem;">
              <img class="card-img-top" height="200" src="{% static 'img/5.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <big class="card-title">Need an programer?</big>
                <p class="card-text capitalize">we can do it for you!<br>check out our services and our previous jobs <br><br></p>
                <a href="#" class="btn btn-primary">Hire Us!</a>
              </div>
            </div>
          </div>
        </div>
        {% endblock content %}
      </main>
      <footer class="mt-5 mb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left f-caramel">Copyright © Saferasoft 2020</div>
                <div class="col-lg-4 my-3 my-lg-0">
                  <center>
                    <a href="#!" class="fa fa-twitter"></i></a>
                    <a href="#!" class="fa fa-facebook"></i></a>
                    <a href="#!" class="fa fa-linkedin"></i></a>
                  </center>
                </div>
                <div class="col-lg-4 text-lg-right">
                  <a class="mr-3 f-caramel" href="#!">Privacy Policy</a>
                  <a class=" f-caramel" href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
      </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
