{% extends 'base.html' %}
{% load static %}
    {% block title %}
        {% if query %}
            {{ query }}
        {% else %}
            World
        {% endif %}
    {% endblock title %}
    {% block content %}
        <section class="covid-body" id=".covid19" style="background-image:{% static 'assets/img/corona/bg.jpg'%}";>
            <div class="container">
                <div class="row align-items-center float-top">
                    <div class="col-lg-4 text-lg-left">
                    </div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <center>
                            <h2 class="section-heading text-uppercase"><i>{{ country }}</i></h2>
                        </center>
                    </div>
                    <div class="col-lg-4 text-lg-right">
                        <form method="GET" id="infoForm" name="infoForm" action="/cov19/Covid19Info/">
                            <input class="text-muted" type="search" name="query" id="query" placeholder="Enter a country name">
                            <button class="btn btn-outlin-light" type="submit" value="search">Get Info</button>
                        </form>
                    </div>
                </div>
                <div class="row align-items-center float-top">
                    <div class="col-lg-4 text-lg-left">
                        <img src="#">
                    </div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <center>
                            <h3 class="covid-text text-muted"><a href="http://www.wikipedia.com/wiki/{{ country }}" target="_blank">Find more about {{ country }} on Wikipedia</a></h3>
                        </center>
                    </div>
                    <div class="col-lg-4 text-lg-right">

                    </div>
                </div>
                <hr class="bg-light">
                <br/>
                <br>
                <center>
                    <div>
                        <span>
                            <h4>Total Cases:</h4>
                            <h4 class="text-primary">{{ totalcases }}<small class="text-danger"><b> ({{ newcases }})</b></small></h4><br>
                        </span>
                        <span>
                            <h4>Total Deathes:</h4>
                            <h4 class="text-warning">{{ totaldeathes }}<small class="text-danger"><b> ({{ newdeathes }})</b></small></h4><br>
                        </span>
                    </div>
                </center>
                <div class="footer py-4">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-4 text-lg-left">
                                <h6>Total Recovered:</h6>
                                <big class="text-light">{{ totalrecovered }}</big>
                            </div>
                            <div class="col-lg-4 my-3 my-lg-0">
                                <h6>Active Cases:</h6>
                                <big class="text-light">{{ activecases }}</big>
                            </div>
                            <div class="col-lg-4 text-lg-right">
                                <h6>Critical Cases:</h6>
                                <big class="text-light">{{ criticalcases }}</big>
                            </div>
                        </div>
                    </div>
                </div>
                 <center>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <small class="text-muted">All info provided are from <a class="text-muted" target="_blank" href="https://www.worldometers.info/coronavirus/">Worldometer</a></small>
                    </div>
                </center>
            </div>
        </section>
    {% endblock content %}
