
	{% extends "base.html" %}
	{% load crispy_forms_tags %}
	{% load static %}

	{% block title %}
	  {% if user.is_superuser %}
	    Administrator Page
	  {% else %}
	    Admin Only Zone
	  {% endif %}
	{% endblock title %}
	{% block content %}
	{% if user.is_superuser %}
		<div>
			<div>
				<legend>User</legend>
				{% for user in users %}
					{{ user.username }}<br>
					{% endfor %}
			</div><hr>
			<div>
				<legend>Profile</legend>
				{% for profile in profiles %}
					{{ profile.user.first_name }}<br>
					{% endfor %}
			</div><hr>
			<div>
				<legend>Job</legend>
				{% for job in jobs %}
					{{ job.job }}<br>
					{% endfor %}
			</div>
		</div>
	    
	{% else %}  
	    <center>
	      <img src="{% static 'img/adminOnly.png' %}">  
	    </center>    
	{% endif %}	
{% endblock content %}