{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load tz %}

{% block title %}
  {% if user.is_superuser %}
    Administrator Page
  {% else %}
    Admin Only Zone
  {% endif %}
{% endblock title %}
{% block content %}
{% if user.is_superuser %}
	<center>
		<div class="admin">
			<div class="debt">
				My Debts: -{{debt}}$
			</div><br>
			<div class="expired">
				<legend>Out Dated</legend>	
				{% for job in jobs %}
					{% if job.deadline <= today.date %}
						<div class="job">
							<div class="title"><a href="{% url 'job_details' job.id %}">{{ job.job }}</a></div>
							<div class="username">{{job.asTo}}</div>
							<div class="username">{{job.withdrawal}}$</div>
							<form method="POST" name="extend">
								{% csrf_token %}
								<input type="number" name="withdrawal" value="0" hidden/>
								<input type="date" name="date"/>
								<input type="text" readonly name="job" value="{{job.job}}" hidden/>
								<button class="btn btn-warning" type="submit"	name="extend" onclick="">Extend</button>
							</form><br>
							<form method="POST" name="charge">
								{% csrf_token %}
								<input type="date" name="date" value="{{job.deadline}}" hidden/>
								<input type="number" name="withdrawal"/>
								<input type="text" readonly name="job" value="{{job.job}}" hidden/>
								<button class="btn btn-danger" type="submit" name="charge" onclick="">Charge</button>
							</form>
						</div>					
					{% endif %}
				{% endfor %}
										
			</div><hr>
			<div class="ready">
				<legend>Ready</legend>	
				{% for job in jobs %}
					{% if job.is_ready %}
						<div class="job">
							<div class="title"><a href="{% url 'job_details' job.id %}"> {{job.job}} </a></div>
							<div class="username">{{job.asTo}}</div>
							<div class="username">{{job.salary}}$</div>
							<form method="POST" name="extend">
								{% csrf_token %}
								<input type="number" name="withdrawal" value="0" hidden/>
								<input type="date" name="date"/>
								<input type="text" readonly name="job" value="{{job.job}}" hidden/>
								<button class="btn btn-warning" type="submit"	name="extend" onclick="">Extend</button>
							</form><br>
							<form method="POST" name="complete">
								{% csrf_token %}
								<input type="text" name="job" value="{{job.job}}" hidden>
								<input type="text" name="user" value="{{user.username}}" hidden>
								<input type="number" name="payment" >
								<button class="btn btn-danger" type="submit" name="complete" onclick="">Complete</button>
							</form>
						</div>					
					{% endif %}
				{% endfor %}										
			</div><hr>
			<div class="joblist">
				<legend>Not Taken</legend>	
				{% for job in jobs %}
					{% if job.is_available and job.asTo == None %}
						<div class="job">
							<div class="title"><a href="{% url 'job_details' job.id %}"> {{job.job}} </a></div>
							<div class="username">{{job.asTo}}</div>
							<div class="username">{{job.salary}}$</div>
							<form method="POST" name="extend">
								{% csrf_token %}
								<input type="number" name="withdrawal" value="0" hidden/>
								<input type="date" name="date"/>
								<input type="text" readonly name="job" value="{{job.job}}" hidden/>
								<button class="btn btn-warning" type="submit"	name="extend" onclick="">Extend</button>
							</form><br>
							<form method="POST" name="complete">
								{% csrf_token %}
								<input type="text" name="job" value="{{job.job}}" hidden>
								<input type="text" name="user" value="{{user.username}}" hidden>
								<input type="number" name="payment" >
								<button class="btn btn-danger" type="submit" name="complete" onclick="">Complete</button>
							</form>
						</div>					
					{% endif %}
				{% endfor %}	
				<legend>Completed</legend>	
				{% for job in jobs %}
					{% if job.is_complete %}
						<div class="job">
							<div class="title"><a href="{% url 'job_details' job.id %}"> {{job.job}} </a></div>
							<div class="username">{{job.asTo}}</div>
							<div class="username">{{job.salary}}$</div>
							<form method="POST" name="extend">
								{% csrf_token %}
								<input type="number" name="withdrawal" value="0" hidden/>
								<input type="date" name="date"/>
								<input type="text" readonly name="job" value="{{job.job}}" hidden/>
								<button class="btn btn-warning" type="submit"	name="extend" onclick="">Extend</button>
							</form><br>
							<form method="POST" name="complete">
								{% csrf_token %}
								<input type="text" name="job" value="{{job.job}}" hidden>
								<input type="text" name="user" value="{{user.username}}" hidden>
								<input type="number" name="payment" >
								<button class="btn btn-danger" type="submit" name="complete" onclick="">Complete</button>
							</form>
						</div>					
					{% endif %}
				{% endfor %}
				<legend>Taken</legend>	
				{% for job in jobs %}
					{% if  job.is_complete != True and job.is_available != True and job.is_ready != True  %}
						<div class="job">
							<div class="title"><a href="{% url 'job_details' job.id %}"> {{job.job}} </a></div>
							<div class="username">{{job.asTo}}</div>
							<div class="username">{{job.salary}}$</div>
							<form method="POST" name="extend">
								{% csrf_token %}
								<input type="number" name="withdrawal" value="0" hidden/>
								<input type="date" name="date"/>
								<input type="text" readonly name="job" value="{{job.job}}" hidden/>
								<button class="btn btn-warning" type="submit"	name="extend" onclick="">Extend</button>
							</form><br>
							<form method="POST" name="complete">
								{% csrf_token %}
								<input type="text" name="job" value="{{job.job}}" hidden>
								<input type="text" name="user" value="{{user.username}}" hidden>
								<input type="number" name="payment" >
								<button class="btn btn-danger" type="submit" name="complete" onclick="">Complete</button>
							</form>
						</div>					
					{% endif %}
				{% endfor %}													
			</div><hr>
			<div class="user">
				<legend>User</legend>
				{% for user in users %}					
					<div class="job">
						<div class="p1">
							<big class="username">{{ user.username }}: </big> <big class="balance">{{user.profile.balance}}$</big><br>
							<form method="POST">
								{% csrf_token %}
								<input type="text" name="user" value="{{user.username}}" hidden>
								is_staff:{%if  user.is_staff  %} <input type="checkbox" name="staff" checked>{% else %}<input type="checkbox" name="staff">{% endif %} <br>
								is_superuser:{%if  user.is_superuser  %}<input type="checkbox" name="superuser" checked>{% else %}<input type="checkbox" name="superuser">{% endif %}	<br>									
								<button class="btn btn-btn" name="updateuser" >update</button>
							</form>
						</div>
						<div class="p2">
							{{user.profile.jobAs}}<br>								
							{{user.profile.jobAs.salary}} - 
							{{user.profile.jobAs.deadline}}
						</div>	
						<div class="p3">
							<form method="POST">
								{% csrf_token %}
								<input type="text" name="job" value="{{user.profile.jobAs.job}}" hidden>
								<input type="text" name="user" value="{{user.username}}" hidden>
								<input type="number" name="payment">
								<button class="btn btn-warning" name="pay">Pay</button>
								<button class="btn btn-danger" name="cash">Cashout</button>						
							</form>
						</div>		
						
					</div>
				{% endfor %}					
			</div><hr>
		</div>
	</center>    
{% else %}  
    <center>
      <img src="{% static 'img/adminOnly.png' %}">  
    </center>    
{% endif %}	
{% endblock content %}