{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  {% if user.is_staff %}
    Jobs Available
  {% else %}
    Staff Only Zone
  {% endif %}
{% endblock title %}
{% block content %}
  {% if user.is_staff %}    
    <div class="job-container">
      {% if user.is_superuser %}
        <a href="{% url 'newjob' %}"><button class="btn btn-btn">Post a new Job</button></a>
      {% endif %}
      <center>
      {% for job in jobs %}
        <div class="job-box content-section" >
          <div class="job-title">
            <a href="{% url 'job_details' job.id %}"><h3 class="">{{job.job}}</a>
            {% if user.profile.last_logout <= job.startDate %}<big id="new">New</big>{% endif %}</h3>
            <big class="float-right ">{{job.user}}</big><hr>
          </div>
          <div class="job-body ">
            <p>{{job.details|slice:":250"}} ... <a href="{% url 'job_details' job.id %}" class="f-metalic" ><u>read more</u></a></p>
            <span class="float-left">
              <big>Salary: {{job.salary}}$</big>
            </span>
            <span class="float-right">
              <big>Withdrawal Fine: {{job.withdrawal}}$</big>
            </span>
          </div><br>
          <div class="job-body">
            <span class="float-left">
              <big>Date Posted: {{job.startDate}}</big>
            </span>
            <span class="float-right">
              <big>Deadline: {{job.deadline}}</big>
            </span>
          </div><br>
          <form method="POST">
            {% csrf_token %}
            <fieldset hidden="True">
              <input type="text" name="job" value={{job.id}}>
              <input type="text" name="user" value="{{user}}">
            </fieldset>
            <button class="btn btn-danger" name="take">Take the job</button>
          </form>
        </div>
      {% endfor %}
      </center>
    </div> 
  {% else %}  
    <center>
      {% if user.is_staff != True and user.profile.staff_requested != True %}
        <form method="POST">
          {% csrf_token %}
          <input type="text" name="user" value="{{user.username}}" hidden>
          <button class="btn btn-danger" name="staff">Request a staff permission</button>
        </form>
      {% endif %}
      <img src="{% static 'img/staffOnly.png' %}">  
    </center>    
  {% endif %}
{% endblock content %}
