{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <center>
            <form method="POST" class="f-pearl">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> Sign In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit"> Sign In</button><br>
                    <small class="text-muted ml-2">
                        <a href="{% url 'password_reset' %} ">Did you forget your password?</a>
                    </small>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    New around here?<a class="ml-2" href="{% url 'register' %}">Signup</a>
                </small>
            </div>
        </center>
    </div>
{% endblock content %}
