.navigate nav {
	background: transparent;
	position: fixed-top;
	margin-top: 0;
	padding: 0;
	width: 100%;
}

.navigate ul {
	
}

.navigate li {
	display: inline;
	float: right;
	margin: 10px;
	color: #fff;

}

.navigate li a {
	
	
	border-radius: 5px;
	color: #B048B5;
}

.navigate li a:hover {
	color: #FDEEF4;
	background: #B048B5;
	
}

.active {
	size: 150%;	
	border-radius: 5px;
	background: #FDEEF4;
	border-color:#B048B5; 
  	color: #B048B5;
	
}

.navigate-user{
	
	margin-right: auto;

}

.navigate-form{
	background: #B048B5;
}
.navigate-form a {
	color: #FDEEF4;
}
.navigate-form a:hover {
	background: #FDEEF4;
	color: #B048B5;
}